*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#profile_img {
    width: 10%;
    height: 0%;
    display: block;
    align-items: center;
    margin: auto;
    border-radius: 55%;
    justify-content: content;
}

#header {
    text-align: center;
    font-size: 30px;
}